In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [ ]:
IN_PATH = '/content/drive/MyDrive/Project/Summer-Olympic-medals-1976-to-2008.csv'
OUT_PATH = '/content/drive/MyDrive/Project/Olympics_clean.csv'

In [ ]:
df = pd.read_csv(IN_PATH, encoding='ISO-8859-1')
df.shape

(15433, 11)

In [ ]:
df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [ ]:
df.isna().sum()

City            117
Year            117
Sport           117
Discipline      117
Event           117
Athlete         117
Gender          117
Country_Code    117
Country         117
Event_gender    117
Medal           117
dtype: int64

In [ ]:
df.dropna(inplace=True, axis=0)

In [ ]:
def swap_names(name):
  parts = name.split(', ')
  if len(parts) == 2:
    return f"{parts[1]} {parts[0]}"
  elif len(parts) == 3:
    return f"{parts[1]} {parts[2]}"

  return name

df['Athlete'] = df['Athlete'].apply(swap_names)
df['Athlete'] = df['Athlete'].apply(lambda name: ' '.join(word.capitalize() for word in name.split()))

df['Athlete'].head()

0             Christa Köhler
1         Aleksandr Kosenkov
2        Philip George Boggs
3    Giorgio Franco Cagnotto
4      Deborah Keplar Wilson
Name: Athlete, dtype: object

In [ ]:
df['Year'] = df['Year'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15316 entries, 0 to 15432
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          15316 non-null  object
 1   Year          15316 non-null  int64
 2   Sport         15316 non-null  object
 3   Discipline    15316 non-null  object
 4   Event         15316 non-null  object
 5   Athlete       15316 non-null  object
 6   Gender        15316 non-null  object
 7   Country_Code  15316 non-null  object
 8   Country       15316 non-null  object
 9   Event_gender  15316 non-null  object
 10  Medal         15316 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.4+ MB

In [ ]:
df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976,Aquatics,Diving,3m springboard,Christa Köhler,Women,GDR,East Germany,W,Silver
1,Montreal,1976,Aquatics,Diving,3m springboard,Aleksandr Kosenkov,Men,URS,Soviet Union,M,Bronze
2,Montreal,1976,Aquatics,Diving,3m springboard,Philip George Boggs,Men,USA,United States,M,Gold
3,Montreal,1976,Aquatics,Diving,3m springboard,Giorgio Franco Cagnotto,Men,ITA,Italy,M,Silver
4,Montreal,1976,Aquatics,Diving,10m platform,Deborah Keplar Wilson,Women,USA,United States,W,Bronze

In [ ]:
df.to_csv(OUT_PATH, index=False)